@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800;900;1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

header {
  display: flex;
  width: 100%;
}
header .titulo {
  width: 100%;
  color: white;
}
header .titulo h1 {
  font-size: 30px;
  margin: 10px;
}
header .menu {
  font-size: large;
  width: 100%;
}

.swing-in-top-fwd {
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
body {
  background-image: url(./../img/fondo.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.cabeza {
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
  text-align: center;
}

.cajas {
  padding-right: 3%;
  display: flex;
  gap: 3%;
}
@media screen and (max-width: 576px) {
  .cajas {
    flex-direction: column;
  }
}
@media screen and (max-width: 1000px) {
  .cajas {
    flex-direction: column;
  }
}
.cajas h2 {
  margin: 20px;
}
.cajas p {
  margin-top: 20px;
  color: white;
}
.cajas .boton2 {
  background-color: rgba(80, 140, 180, 0.719);
  border-radius: 40px;
  margin-bottom: 20px;
  margin: 10px;
  padding: 10px;
  color: black;
}
.cajas .box {
  background-color: rgba(102, 80, 180, 0.719);
  text-align: center;
  height: auto;
  width: 400px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.56) 70px 70px 0px 0px;
  margin-left: 3%;
}
@media screen and (max-width: 1000px) {
  .cajas .box {
    margin-left: 30%;
  }
}
@media screen and (max-width: 576px) {
  .cajas .box {
    margin-left: 5%;
  }
}
.cajas .box1 {
  width: 400px;
  height: auto;
  background-color: rgba(102, 80, 180, 0.719);
  text-align: center;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.56) 70px 70px 0px 0px;
}
.cajas .box1 img {
  margin-bottom: 45px;
}
@media screen and (max-width: 1500px) {
  .cajas .box1 {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .cajas .box1 {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .cajas .box1 {
    display: none;
  }
}
.cajas .box2 {
  width: 400px;
  height: auto;
  background-color: rgba(102, 80, 180, 0.719);
  text-align: center;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.56) 70px 70px 0px 0px;
}
@media screen and (max-width: 576px) {
  .cajas .box2 {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .cajas .box2 {
    display: none;
  }
}
.cajas .box3 {
  width: 400px;
  height: auto;
  background-color: rgba(102, 80, 180, 0.719);
  text-align: center;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.56) 70px 70px 0px 0px;
  margin-right: 0%;
}
.cajas .box3 h2 {
  margin-top: 100px;
}
.cajas .box3 h1 {
  font-size: 100px;
}
@media screen and (max-width: 1000px) {
  .cajas .box3 {
    margin-left: 30%;
    margin-top: 10%;
  }
}
@media screen and (max-width: 576px) {
  .cajas .box3 {
    margin-left: 5%;
    margin-top: 10%;
  }
}

.slide-in-left {
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-right {
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.pie {
  display: flex;
  padding-block: 20px;
}
.pie .iconos {
  display: flex;
  background-color: orange;
  align-items: center;
  gap: 1rem;
  color: white;
}
.pie .iconos .fab {
  padding: 1rem;
}

.fa-facebook {
  background-color: blue;
}/*# sourceMappingURL=estilomiformacion.css.map */