@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800;900;1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

header {
  display: flex;
}
header .titulo {
  width: 100%;
  color: white;
}
header .titulo h1 {
  font-size: 30px;
  margin: 10px;
}
header .menu {
  font-size: large;
}

.swing-in-top-fwd {
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
body {
  background-image: url(./../img/fondo.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  display: inline-flex;
  gap: 800px;
}
main .descripcion {
  width: 350px;
  height: 550px;
  text-align: center;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  color: white;
  padding: 60px;
  border-radius: 40px;
  background-color: rgba(102, 80, 180, 0.719);
  margin-left: 100px;
  margin-top: 100px;
  box-shadow: rgba(0, 0, 0, 0.56) 70px 70px 0px 0px;
  margin-bottom: 100px;
}
@media screen and (max-width: 992px) {
  main .descripcion {
    margin-left: 20%;
    height: 650px;
  }
}
@media screen and (max-width: 576px) {
  main .descripcion {
    margin-left: 5%;
    height: 600px;
  }
}
main .descripcion .subtitulo {
  font-size: 20px;
}
main .descripcion .vermas {
  background-color: rgba(80, 140, 180, 0.719);
  border-radius: 40px;
  margin-top: 60px;
  padding: 10px;
  color: black;
}
@media screen and (max-width: 576px) {
  main .descripcion .vermas {
    margin-top: 20px;
  }
}
@media screen and (max-width: 992px) {
  main .descripcion .vermas {
    margin-top: 20px;
  }
}

.img-derecha {
  width: auto;
  height: 500px;
  border-end-end-radius: 40px;
  border-end-start-radius: 40px;
  background-color: rgba(102, 80, 180, 0.719);
  box-shadow: rgba(0, 0, 0, 0.56) 70px 70px 0px 0px;
}
.img-derecha .tituloimg {
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
  color: white;
}
.img-derecha .boton button {
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(80, 140, 180, 0.719);
  font-size: 20px;
  margin-left: 40px;
}
.img-derecha .nombre {
  margin: 20px;
}
.img-derecha .imagen img {
  height: 300px;
  width: 300px;
}
@media screen and (max-width: 576px) {
  .img-derecha .imagen {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .img-derecha .imagen {
    display: none;
  }
}

.slide-in-left {
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-fwd-center {
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.pie {
  display: flex;
  padding-block: 20px;
}
.pie .iconos {
  display: flex;
  background-color: orange;
  align-items: center;
  gap: 1rem;
  color: white;
}
.pie .iconos .fab {
  padding: 1rem;
}

.fa-facebook {
  background-color: blue;
}/*# sourceMappingURL=estilo.css.map */