@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800;900;1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

header {
  display: flex;
}
header .titulo {
  width: 100%;
  color: white;
}
header .titulo h1 {
  font-size: 30px;
  margin: 10px;
}
header .menu {
  font-size: large;
}

.swing-in-top-fwd {
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
body {
  background-image: url(./../img/fondo.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  padding: 40px;
  padding-top: 100px;
  display: inline-flex;
  gap: 400px;
}
@media screen and (max-width: 576px) {
  main {
    display: inline-block;
  }
}
@media screen and (max-width: 992px) {
  main {
    display: inline-block;
  }
}
main .boton2 {
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(80, 140, 180, 0.719);
  font-size: 15px;
  margin-top: 20px;
}
main .box {
  background-color: rgba(102, 80, 180, 0.719);
  text-align: center;
  height: 500px;
  width: 400px;
  padding-top: 20px;
  margin-left: 300px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.56) 70px 70px 0px 0px;
}
@media screen and (max-width: 992px) {
  main .box {
    margin-left: 40%;
    width: 300px;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  main .box {
    margin: 5%;
    width: 300px;
    justify-content: center;
  }
}
main .box h4 {
  margin-top: 30px;
  margin-bottom: 50px;
  color: white;
}
main .box .contenedor {
  color: white;
  font-size: larger;
  margin-bottom: 10px;
}
main .proyecto {
  width: 400px;
  height: 450px;
  background-color: rgba(102, 80, 180, 0.719);
  text-align: center;
  margin-left: 110px;
  margin-top: 50px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.56) 70px 70px 0px 0px;
}
@media screen and (max-width: 992px) {
  main .proyecto {
    margin-left: 40%;
    width: 300px;
  }
}
@media screen and (max-width: 576px) {
  main .proyecto {
    margin-left: 5%;
    width: 300px;
  }
}
main .proyecto h2 {
  margin-top: 20px;
}
main .contenedor {
  display: grid;
  grid-template-columns: 1fr;
  width: 300px;
  padding-left: 100px;
}
@media screen and (max-width: 992px) {
  main .contenedor {
    padding: 10%;
  }
}
@media screen and (max-width: 576px) {
  main .contenedor {
    padding: 10%;
  }
}
main .caja {
  border: 1px solid black;
}

.slide-in-left {
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-right {
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.pie {
  display: flex;
  padding-block: 20px;
}
.pie .iconos {
  display: flex;
  background-color: orange;
  align-items: center;
  gap: 1rem;
  color: white;
}
.pie .iconos .fab {
  padding: 1rem;
}

.fa-facebook {
  background-color: blue;
}/*# sourceMappingURL=estilomisproyectos.css.map */