@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800;900;1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

header {
  display: flex;
}
header .titulo {
  width: 100%;
  color: white;
}
header .titulo h1 {
  font-size: 30px;
  margin: 10px;
}
header .menu {
  font-size: large;
}

.swing-in-top-fwd {
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
body {
  background-image: url(./../img/fondo.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  display: inline-flex;
  gap: 300px;
  padding: 10p;
}
main .boton1 {
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(80, 140, 180, 0.719);
  font-size: 15px;
}
main .boton2 {
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(80, 140, 180, 0.719);
  font-size: 15px;
  margin-left: 100px;
}
main .contactos {
  text-align: center;
  background-color: rgba(102, 80, 180, 0.719);
  text-align: center;
  height: 80px;
  width: 700px;
  padding: 10px;
  margin-left: 110px;
  margin-top: 200px;
  box-shadow: rgba(0, 0, 0, 0.56) 70px 70px 0px 0px;
  border-radius: 20px;
}
main .contactos select {
  margin-top: 10px;
  font-size: 20px;
}
main .contactoselect {
  background-color: rgba(102, 80, 180, 0.719);
  margin-top: 100px;
  text-align: center;
  height: 700px;
  width: 300px;
  margin-left: 110px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.56) 70px 70px 0px 0px;
}
main .contactoselect img {
  margin-top: 20px;
  margin-bottom: 40px;
}
main .boton3 {
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(80, 140, 180, 0.719);
  font-size: 15px;
  margin-left: 50px;
}
main .boton4 {
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(80, 140, 180, 0.719);
  font-size: 15px;
}
main h3 {
  text-align: left;
  padding-top: 20px;
  color: white;
  text-align: center;
}
main .descripcion {
  margin-top: 10px;
}
main .botones {
  display: flex;
  gap: 20px;
}

.slide-in-left {
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-right {
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.pie {
  display: flex;
  padding-block: 20px;
}
.pie .iconos {
  display: flex;
  background-color: orange;
  align-items: center;
  gap: 1rem;
  color: white;
}
.pie .iconos .fab {
  padding: 1rem;
}

.fa-facebook {
  background-color: blue;
}/*# sourceMappingURL=estilocontactos.css.map */