

@media screen and (max-width: 480px)
    {
    .box {margin-left: 40px;}
    .institucion {margin-left: 40px;}
    .agregar {margin-left: 40px;}
    


    .titulo {
        width: 600px;
        text-align: left;}
       
    .subtitulo{
        width: 600px;
    }
    }