.contactos{
    background-color: orange;
    background-size: 80px;
    text-align: center;
    height: 350px;
    width: 400px;
    padding-top: 10px;
    margin-left: 110px;
}

.contactoselect{
    background-color: orange;
    background-size: 80px;
    text-align: center;
    height: 500px;
    width: 400px;
    margin-left: 110px;
}

h3 {
    text-align: left;
    padding: 10px;
}