main {
    margin-top: 20px;
    padding: 40px;

    .logear {
        display: flex;
        gap: 50px;
        
        .log  {
            text-align: center;
            text-decoration:solid;
            color: black;
            height: 100px;
            background-color: orange;
            width: 650PX;
            margin-top: 20px;
            margin-left: 20px;
            padding-bottom: 10px;
            border-radius: 40px;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    
            b {
                font-size: large;
            }
        
        }
    
    }
}
.slide-in-fwd-center{-webkit-animation:slide-in-fwd-center .4s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-fwd-center .4s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes slide-in-fwd-center{0%{-webkit-transform:translateZ(-1400px);transform:translateZ(-1400px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes slide-in-fwd-center{0%{-webkit-transform:translateZ(-1400px);transform:translateZ(-1400px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}