.pie {
    text-align: center;
    text-decoration:solid;
    color: black;
    height: 100px;
    background-color: orange;
    width: 400px;
    display: flex;
    padding-top: 20px;
    margin-top: 300px;

}