@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800;900;1000&display=swap');

$fontnunito: 'Nunito', sans-serif;

$maincolor: rgba(102, 80, 180, 0.719);
$secondarycolor:rgba(80, 140, 180, 0.719);

